# pipenv
sphinx-copybutton
sphinx-design
sphinx-inline-tabs
sphinxcontrib.youtube
sphinx-favicon
sphinx-sitemap
sphinxcontrib.asciinema
ablog
restructuredtext-lint
unidecode
sphinx-rtd-theme
myst-parser
sphinx_book_theme
Sphinx>=4.4
nuitka
sphinx-intl
requests
