[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
aiohttp = "*"
watchdog = "*"
pylint = "*"
doc8 = "*"
sphinx-autobuild = "*"

[packages]
nikola = "*"
webassets = "*"
doit = "*"
unidecode = "*"
restructuredtext-lint = "*"
lxml = "*"
sphinx-copybutton = "*"
sphinx-design = "*"
sphinx-inline-tabs = "*"
sphinx-rtd-theme = "*"
"sphinxcontrib.twitter" = "*"
ablog = "*"

[requires]
python_version = "3.9"
