[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
aiohttp = "*"
watchdog = "*"
pylint = "*"
doc8 = "*"
sphinx-autobuild = "==2021.3.14"
pipenv = "*"
isort = "*"
black = "==24.10.0"
asciinema-automation = "*"
ordered-set = "*"
zstandard = "*"
esbonio = "*"

[packages]
restructuredtext-lint = "*"
lxml = "*"
sphinx-copybutton = "==0.5.2"
sphinx-design = "==0.5.0"
sphinx-inline-tabs = "==2023.4.21"
sphinx-rtd-theme = "==2.0.0"
"sphinxcontrib.twitter" = "==0.5.0"
ablog = "==0.11.6"
sphinxcontrib-youtube = "==1.4.1"
sphinx-favicon = "==1.0.1"
sphinx-sitemap = "==2.5.1"
sphinxcontrib-applehelp = "==1.0.8"
sphinxcontrib-devhelp = "==1.0.6"
sphinxcontrib-htmlhelp = "==2.0.5"
sphinxcontrib-jquery = "==4.1"
sphinxcontrib-jsmath = "==1.0.1"
sphinxcontrib-qthelp = "==1.0.7"
sphinxcontrib-serializinghtml = "==1.1.10"
rstfmt = "==0.0.14"
unicode = "==2.9"
unidecode = "*"
sphinx-intl = "==2.1.0"
psutil = "*"
setproctitle = "*"
"sphinxcontrib.asciinema" = "*"

[requires]
python_version = "3.12"

[pipenv]
allow_prereleases = true
