.wy-nav-content {
    max-width: 1000px !important;
}

.nuitka-offer-full-package .sd-card {
    background-color: #403472;
}

.nuitka-offer-commercial .sd-card {
    background-color: #78c933;
}

.nuitka-offer-priority .sd-card {
    background-color: #007dd6;
}

.nuitka-offer-sponsor .sd-card {
    background-color: #b45f06;
}

.nuitka-grid-offer .sd-card {
    display: flex;
    color: white;
}

.nuitka-buy .sd-card-text:last-child {
    margin-bottom: 1.25rem;
}

/* Stripe links should be forced to color standing out */
.nuitka-buy a {
    vertical-align: bottom;
    font: bold 1rem Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    white-space: nowrap;
}

.nuitka-grid-offer .sd-card-title {
    color: white;
    text-align: center;
    font-size: 1.2rem;
}

.nuitka-grid-offer blockquote {
    margin-left: 6px;
    margin-right: 6px;
}

.nuitka-grid-offer ul li {
    list-style: none !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}


.nuitka-price p {
    white-space: nowrap;
    color: white;
    text-align: center !important;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px !important;
}

.nuitka-price p::first-letter {
    color: white;
    text-align: center;
    font-size: 14px;
    vertical-align: 20px

}

.nuitka-price p::after {
    content: "/ yr";
    font-size: 14px;
    vertical-align: -20px
}

.nuitka-grid-offer .sd-card-text {
    color: white;
    text-align: left;
}

.socialbutton-wrapper {
    height: 70px;
    text-align:center;
}

.socialbutton-wrapper a {
    text-decoration: none;
}

.share-button-container{
    text-align: center;
    margin: 0 0;
    padding: 0 0;
    position: absolute;
    top: 0;
    right: 20px;
}

/* For share buttons to position into them absolute, this needs to be marked relative. */
.rst-content {
    position: relative;
}

.socialbutton {
    width: 60px;
    height: 45px;
    margin-bottom: 0;
    display: inline-block;

    transition: all 500ms;
    -webkit-transition: all 500ms;
}

@media screen and (max-width: 1000px) {
    .socialbutton {
      display: none;
    }
  }

.socialbutton:hover {
    height: 70px;
    margin-bottom: 0;
}

.socialbutton .shares {
    opacity: 0;
    transition: opacity 500ms;
    -webkit-transition: opacity 500ms;
    color: #fff;
    text-align: center;
    margin-top: 7px;
}

.socialbutton:hover .shares {
    opacity: 1;
}

.socialbutton p {
    margin: 0;
    padding: 0;
}

.socialbutton p.icon {
    text-align: center;
    padding-top: 13px;
}

.socialbutton.twitter {
    background-color: #5BC2F0;
}

.socialbutton.reddit {
    background-color: #333333;
}

.socialbutton.facebook {
    background-color: #435D96;
}
