a[href$=".zip"]::after,
a[href$=".tar.gz"]::after,
a[href$=".tgz"]::after,
a[href$=".tar.bz2"]::after,
a[href$=".tar.xz"]::after,
a[href$=".msi"]::after,
a[href$=".exe"]::after,
a[href$=".deb"]::after,
a[href$=".rpm"]::after,
a[href$=".whl"]::after,
a[href$=".gpg"]::after,
a[href$=".asc"]::after,
a[href$=".repo"]::after,
a[href$=".pdf"]::after {
	--icon: url("/_images/svg/file-link.svg");

	content: "";
	display: inline-block;
	width: 1.4em;
	height: 1.4em;
	margin-left: 4px;

	background-color: var(--our-color-blue);

	mask-image: var(--icon);
	mask-size: contain;
	mask-repeat: no-repeat;
	mask-position: center;

	-webkit-mask-image: var(--icon);
	-webkit-mask-size: contain;
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-position: center;
}

a[href$=".pdf"]::after {
	--icon: url("/_images/svg/pdf-link.svg");
}

a[href$=".tar.gz"]::after,
a[href$=".tgz"]::after,
a[href$=".tar.bz2"]::after,
a[href$=".tar.xz"]::after {
	--icon: url("/_images/svg/compressed-link.svg");
}

a[href$=".msi"]::after,
a[href$=".exe"]::after {
	--icon: url("/_images/svg/windows-link.svg");
}

a[href$=".zip"]::after {
	--icon: url("/_images/svg/zip-link.svg");
}

a[href$=".deb"]::after {
	--icon: url("/_images/svg/debian-link.svg");
}

a[href$=".rpm"]::after,
a[href$=".repo"]::after {
	--icon: url("/_images/svg/linux-link.svg");
}

a[href$=".whl"]::after {
	--icon: url("/_images/svg/python-link.svg");
}

a[href$=".gpg"]::after,
a[href$=".asc"]::after {
	--icon: url("/_images/svg/key-link.svg");
}
