html {
    scroll-behavior: smooth
}

.wy-nav-content {
    max-width: 1000px !important;
}

.sd-col {
    margin-bottom: 2rem;
}

.nuitka-offer-full-package .sd-card {
    background-color: #403472;
}

.nuitka-offer-commercial .sd-card {
    background-color: #78c933;
}

.nuitka-offer-priority .sd-card {
    background-color: #007dd6;
}

.nuitka-offer-sponsor .sd-card {
    background-color: #b45f06;
}

.nuitka-grid-offer .sd-card {
    color: white;
    margin-bottom: 15px;
    overflow-wrap: normal;
}

.nuitka-buy .sd-card-text:last-child {
    margin-bottom: 1.25rem;
}

/* Stripe links should be forced to color standing out */
.nuitka-buy a {
    vertical-align: bottom;
    font: bold 1rem Arial;
    text-decoration: none;
    background-color: #eeeeee78;
    color: #000000;
    padding: 10px;
    border-radius: 30px;
    outline: 2px solid white;
    white-space: nowrap;
}

.nuitka-buy a:hover {
    background-color: #83818178;
}

.nuitka-grid-offer .sd-card-title {
    color: white;
    text-align: center;
    font-size: 1.2rem;
}

.nuitka-grid-offer blockquote {
    margin-left: 6px;
    margin-right: 6px;
}

.nuitka-grid-offer ul li {
    list-style: none !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.nuitka-grid-offer ul {
    --icon-size: .8em;
    --gutter: .5em;
    padding: 0 0 0 var(--icon-size);
    box-sizing: border-box;
    min-width: 0;
}

.nuitka-grid-offer ul li {
    padding-left: var(--gutter);
    box-sizing: border-box;
    min-width: 0;
}

.nuitka-grid-offer ul li::marker {
    content: "\f00a";
    font-family: FontAwesome;
    font-size: var(--icon-size);
    box-sizing: border-box;
    min-width: 0;
}

.nuitka-price p {
    white-space: nowrap;
    color: white;
    text-align: center !important;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px !important;
}

.nuitka-price p::first-letter {
    color: white;
    text-align: center;
    font-size: 14px;
    vertical-align: 20px;
}

.nuitka-price i {
    font-style: normal;
    font-size: 18px;
    vertical-align: 3px;
}


.nuitka-grid-offer .sd-card-text {
    color: white;
    text-align: left;
}

.socialbutton-wrapper {
    height: 70px;
    text-align: center;
}

.socialbutton-wrapper a {
    text-decoration: none;
}

.share-button-container {
    float: right;
    text-align: center;
    margin: 0 0;
    padding: 0 0;
}

/* For share buttons to position into them absolute, this needs to be marked relative. */
.rst-content {
    position: relative;
}

.socialbutton {
    width: 60px;
    height: 45px;
    margin-bottom: 0;
    display: inline-block;

    transition: all 500ms;
    -webkit-transition: all 500ms;
}

@media screen and (max-width: 1000px) {
    .share-button-container {
        display: none;
    }
}

.socialbutton:hover {
    height: 70px;
    margin-bottom: 0;
}

.socialbutton .shares {
    opacity: 0;
    transition: opacity 500ms;
    -webkit-transition: opacity 500ms;
    color: #fff;
    text-align: center;
    margin-top: 7px;
}

.socialbutton:hover .shares {
    opacity: 1;
}

.socialbutton p {
    margin: 0;
    padding: 0;
    border-radius: 15px;
}

.socialbutton p.icon {
    text-align: center;
    padding-top: 13px;
}

.socialbutton.twitter {
    background-color: #5BC2F0;
    border-radius: 10px;
}

.socialbutton.mastodon {
    background-color: #563ACC;
    border-radius: 10px;
}

.socialbutton.reddit {
    background-color: #333333;
    border-radius: 10px;
}

.socialbutton.facebook {
    background-color: #435D96;
    border-radius: 10px;
}

details.sd-dropdown {
    display: inline;
    vertical-align: top;
    background: white;
}

details.sd-dropdown .sd-summary-title {
    /* border: 10px solid blue !important; */
    width: fit-content !important;
    padding: 15px !important;
    padding-right: 0px !important;
    height: 45px;
}

details.sd-dropdown .switcher-body {
    /* border: 10px solid greenyellow !important; */
    width: fit-content !important;
}

details.sd-dropdown {
    width: fit-content !important;
    padding: 0px !important;
}

details.sd-dropdown blockquote {
    margin-left: 0px;
}

p.admonition-title {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.admonition {
    border-radius: 10px;
}

.notranslate {
    border-radius: 4px;
}

.wy-breadcrumbs {
    display: none;
}

@media(min-width: 1200px) {

    .sd-container-xl,
    .sd-container-lg,
    .sd-container-md,
    .sd-container-sm,
    .sd-container {
        max-width: 1340px
    }
}

@media(min-width: 1192px) {

    .sd-container-lg,
    .sd-container-md,
    .sd-container-sm,
    .sd-container {
        max-width: 1160px
    }
}

@media screen and (min-width: 1000px) {
    .page-toc {
        float: right;
        padding: 20px;
        margin: 20px;
    }
}

.page-toc {
    border: 1px solid lightgray;
}

.page-toc .topic-title {
    margin-top: 2px;
    margin-bottom: 2px;
    text-align: center;
}

.page-toc ul {
    margin-bottom: 2px !important;
    margin-right: 4px !important;
}

.page-toc ul li::marker {
    content: "» ";
    font-size: var(--icon-size);
    box-sizing: border-box;
    min-width: 0;
}

.page-toc a:visited {
    color: #1C5E89;
}

.page-toc a {
    color: #1C5E89;
}

p a:hover {
    text-decoration: underline;
}

p a {
    color: #1C5E89;
}

a[class~="headerlink"] {
    color: #1C5E89;
}

a[class~="headerlink"]:hover {
    color: #1C5E89;
    text-decoration: underline;
}

a[class~="headerlink"]:visited {
    color: #1C5E89;
}

.blog-post-box {
    float: right;
}

.logo_container {
    float: left;
    margin: 0 auto;
    border: 0;
    border-radius: 0;
    max-width: 100%;
    padding-right: 10px;
}

.logo {
    vertical-align: center;
}

@media (min-height: 17em) {
    [id] {
        scroll-margin-top: 60px;
    }

    .top_nav {
        position: sticky;
        top: 0;
        height: auto;
        padding: 0;
        padding-bottom: 2px;
        z-index: 100;
        background-color: white;
    }

    h1 {
        margin-top: 0;
        margin-bottom: 0;
    }
}

.top_link_nav {
    border: 2px solid lightgray;
    width: fit-content;
    margin-bottom: 5px;
    padding-bottom: 0;
    border-radius: 3.6rem;
}

.top_link_nav ul {
    display: inline-flex;
    gap: 20px;
    width: fit-content;
    justify-content: center;
    list-style: none !important;
    margin-bottom: 4px !important;
    margin-right: 20px;
}

.top_link_nav li {
    list-style: none !important;
    width: fit-content;
}