html {
    scroll-behavior: smooth
}

.wy-nav-content {
    max-width: 1000px !important;
}

.sd-col {
    margin-bottom: 2rem;
}

.nuitka-offer-full-package .sd-card {
    background-color: #403472;
}

.nuitka-offer-commercial .sd-card {
    background-color: #78c933;
}

.nuitka-offer-priority .sd-card {
    background-color: #007dd6;
}

.nuitka-offer-sponsor .sd-card {
    background-color: #b45f06;
}

.nuitka-grid-offer .sd-card {
    color: white;
    margin-bottom: 15px;
    overflow-wrap: normal;
}

.nuitka-buy .sd-card-text:last-child {
    margin-bottom: 1.25rem;
}

.ci-search {
    margin: 10px !important;
}

h1 {
    margin-bottom: 10px !important;
}

h2 {
    margin-bottom: 10px !important;
    margin-top: 30px;
}

h3 {
    margin-bottom: 10px !important;
}

/* Stripe links should be forced to color standing out */
.nuitka-buy a {
    vertical-align: bottom;
    font: bold 1rem Arial;
    text-decoration: none;
    background-color: #eeeeee78;
    color: #000000;
    padding: 10px;
    border-radius: 30px;
    outline: 2px solid white;
    white-space: nowrap;
}

.nuitka-buy a:hover {
    background-color: #83818178;
}

.nuitka-grid-offer .sd-card-title {
    color: white;
    text-align: center;
    font-size: 1.2rem;
}

.nuitka-grid-offer blockquote {
    margin-left: 6px;
    margin-right: 6px;
}

.nuitka-grid-offer ul li {
    list-style: none !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.nuitka-grid-offer ul {
    --icon-size: .8em;
    --gutter: .5em;
    padding: 0 0 0 var(--icon-size);
    box-sizing: border-box;
    min-width: 0;
}

.nuitka-grid-offer ul li {
    padding-left: var(--gutter);
    box-sizing: border-box;
    min-width: 0;
}

.nuitka-grid-offer ul li::marker {
    content: "\f00a";
    font-family: FontAwesome;
    font-size: var(--icon-size);
    box-sizing: border-box;
    min-width: 0;
}

.nuitka-price p {
    white-space: nowrap;
    color: white;
    text-align: center !important;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px !important;
}

.nuitka-price p::first-letter {
    color: white;
    text-align: center;
    font-size: 14px;
    vertical-align: 20px;
}

.nuitka-price i {
    font-style: normal;
    font-size: 18px;
    vertical-align: 3px;
}


.nuitka-grid-offer .sd-card-text {
    color: white;
    text-align: left;
}

.social-button-wrapper {
    padding-top: 7px;
    padding-right: 20px;
    height: 70px;
    text-align: center;
}

.social-button-wrapper a {
    text-decoration: none;
}

.share-button-container {
    float: right;
    text-align: center;
    margin: 0 0;
    padding: 0 0;
}

/* For share buttons to position into them absolute, this needs to be marked relative. */
.rst-content {
    position: relative;
}

.social-button {
    width: 35px;
    height: 35px;
    margin-bottom: 0;
    display: inline-block;

    transition: all 500ms;
    -webkit-transition: all 500ms;
}

@media screen and (max-width: 1000px) {
    .share-button-container {
        display: none;
    }
}

@media print {
    .share-button-container {
        display: none;
    }
}

.social-button:hover {
    height: 70px;
    margin-bottom: 0;
}

.social-button .shares {
    opacity: 0;
    transition: opacity 500ms;
    -webkit-transition: opacity 500ms;
    color: #fff;
    font-size: 11px;
    text-align: center;
    font-weight: bold;
}

.social-button:hover .shares {
    opacity: 1;
}

.social-button p {
    margin: 0;
    padding: 0;
    border-radius: 15px;
}

.social-button p.icon {
    text-align: center;
    padding-top: 5px;
}

.social-button.twitter {
    background-color: #fff;
    border-radius: 25px;
    border: 1px solid black;
}

.social-button.twitter:hover {
    background-color: #000;
}

.social-button.twitter:hover .icon img {
    filter: brightness(0) invert(1);
}

.social-button.mastodon {
    background-color: #fff;
    border-radius: 25px;
    border: 1px solid #6364FF;
}

.social-button.mastodon:hover {
    background-color: #6364FF;
}

.social-button.mastodon:hover .icon img {
    filter: brightness(0) invert(1);
}

.social-button.reddit {
    background-color: #fff;
    border-radius: 25px;
    border: 1px solid #FF5700;
}

.social-button.reddit:hover {
    background-color: #FF5700;
}

.social-button.reddit:hover .icon img {
    filter: brightness(0) invert(1);
}

.social-button.facebook {
    background-color: #fff;
    border-radius: 25px;
    border: 1px solid #1877F2;
}

.social-button.facebook:hover {
    background-color: #1877F2;
}

.social-button.facebook:hover .icon img {
    filter: brightness(0) invert(1);
}

.language-switcher-container {
    display: inline;
    vertical-align: top;
    background: white;
    padding: 0px !important;
}

.language-switcher-title {
    border: 1px solid blue !important;
    padding: 15px !important;
    height: 45px;
}

.language-switcher-body {
    border: 1px solid greenyellow !important;
}

.language-switcher-container blockquote {
    margin-left: 0px;
}

p.admonition-title {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.admonition {
    border-radius: 10px;
}

.notranslate {
    border-radius: 4px;
}

.wy-breadcrumbs {
    display: none;
}

@media(min-width: 1200px) {

    .sd-container-xl,
    .sd-container-lg,
    .sd-container-md,
    .sd-container-sm,
    .sd-container {
        max-width: 1340px
    }
}

@media(min-width: 1192px) {

    .sd-container-lg,
    .sd-container-md,
    .sd-container-sm,
    .sd-container {
        max-width: 1160px
    }
}

@media screen and (min-width: 1000px) {
    .page-toc {
        float: right;
        padding: 20px;
        margin: 20px;
    }
}

.page-toc {
    border: 1px solid lightgray;
}

.page-toc .topic-title {
    margin-top: 2px;
    margin-bottom: 2px;
    text-align: center;
}

.page-toc ul {
    margin-bottom: 2px !important;
    margin-right: 4px !important;
}

.page-toc ul li::marker {
    content: "» ";
    font-size: var(--icon-size);
    box-sizing: border-box;
    min-width: 0;
}

.page-toc a:visited {
    color: #1C5E89;
}

.page-toc a {
    color: #1C5E89;
}

/* We want it on the right side bar, that doesn't yet exist.
@media screen and (min-width: 1000px) {
    .hub-toc {
        float: right;
        padding: 20px;
        margin: 20px;
    }
}
*/

.hub-toc {
    border: 1px solid lightgray;
}

.hub-toc .topic-title {
    margin-top: 2px;
    margin-bottom: 2px;
    text-align: center;
}

.hub-toc ul {
    margin-bottom: 2px !important;
    margin-right: 4px !important;
}

.hub-toc ul li::marker {
    content: "» ";
    font-size: var(--icon-size);
    box-sizing: border-box;
    min-width: 0;
}

.hub-toc a:visited {
    color: #1C5E89;
}

.hub-toc a {
    color: #1C5E89;
}

.hub-toc a:visited {
    color: #1C5E89;
}

.hub-toc a {
    color: #1C5E89;
}

p a:hover {
    text-decoration: underline;
}

p a {
    color: #1C5E89;
}

a[class~="headerlink"] {
    color: #1C5E89;
}

a[class~="headerlink"]:hover {
    color: #1C5E89;
    text-decoration: underline;
}

a[class~="headerlink"]:visited {
    color: #1C5E89;
}

.blog-post-box {
    float: right;
}

.logo_container {
    display: flex;
    border-radius: 0;
    margin: auto !important;
}

.logo_container a {
    display: inherit;
}

.logo {
    display: inherit;
}

@media (min-height: 20em) {
    [id] {
        scroll-margin-top: 70px;
    }

    .top_nav {
        position: sticky;
        top: 0;
        height: auto;
        padding: 0;
        padding-bottom: 2px;
        z-index: 100;
        background-color: white;
    }
}

.ci-search {
    width: 195.733px;
    height: 30px;
}

@media screen and (min-height: 20em) and (max-width: 1000px) {
    /* Add mobile specifics here */

    .logo_container {
        display: none;
    }

    .ci-search {
        display: none;
    }
}

@media print {
    .top_link_nav {
        display: none;
    }
}

.top_link_nav {
    border: 2px solid lightgray;
    width: fit-content;
    margin-bottom: 20px;
    padding-bottom: 0;
    border-radius: 3.6rem;
}

.top_link_nav ul {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 1vw;
    width: fit-content;
    justify-content: center;
    list-style: none !important;
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
    margin-right: 20px;
}

.top_link_nav li {
    list-style: none !important;
    width: fit-content;
    margin: auto;
}

.top_link_nav a:visited {
    color: #1C5E89;
}

.top_link_nav a {
    font-weight: bold;
    color: #1C5E89;
}

.wy-menu-vertical {
    /* instead of 300 */
    width: 250px;
}

.wy-side-scroll {
    /* instead of 320 */
    width: 250px;
    overflow-y: hidden;
    height: auto;
}

.wy-nav-side {
    width: 250px;
    /* instead of 320 */
}

.hub-card {
    display: flex;
}